.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .carousel-inner {
    width: auto;
    height: auto;
    margin: auto;  
  }
  
  footer {
    background-color:crimson;
    width:100%;
    float:left;
    padding: 40px, 0px, 0px, 0px;
    background-color:aquamarine;

  }
  body {
    background-image:url("https://img.wallpapersafari.com/desktop/1536/864/78/33/mi18Yw.jpg");
    background-repeat:repeat;
    background-position: top right;
    background-attachment:scroll;
  }

  .headRgb {
    background-color: bisque;
    
  }
  .textAlign {
    position:center;
  }
  
  @font-face {
    font-family:"Lobster";
    src:url("Lobster-Regular.woff2")
  } 
  
  .customFont {
    color:maroon;
    font-family:"Lobster";
  } 
  
  .textSize {
    font-size: 2em;
  } 
  #hexColor {
    background-color:aquamarine;
  }

  .cont {
    background-color: firebrick;
  }

  .textItalic {
    font-style:italic;
  }

  .borderSolid {
    border: 1px blueviolet solid; 
    border-radius:10px;
    box-shadow: 5px 5px 5px darkseagreen;
    background-color:palegoldenrod;
  }

  .textShadow {
      text-shadow: 5px 15px 5px blue;
  }

