.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .rowGrid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .columnGrid {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .columnGrid {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columnGrid {
      flex: 100%;
      max-width: 100%;
    }
  }

  .bg-1 {
    background-color: aquamarine; /* Green */
    color: #1d1b16;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .bg-2 {
    background-color: maroon; /* Green */
    color: #ffffff;
  }
  .bg-3 {
    background-color: brown; /* Green */
    color: #ffffff;
  }


  .bottom-left {
    position: auto;
    bottom: 8px;
    left: 16px;
  }

  footer {
    background-color:crimson;
    width:100%;
    float:left;
    padding: 40px, 0px, 0px, 0px;
    background-color: aquamarine;
    
  }

  body {
    background-image:url("https://img.wallpapersafari.com/desktop/1536/864/78/33/mi18Yw.jpg");
    background-repeat:repeat;
    background-position: top right;
    background-attachment:scroll;
  } 
  #hexColor {
    background-color:aquamarine;
  }

  .headRgb {
    background-color: bisque;
    
  }
  .textAlign {
    position:center;
  }
  
  @font-face {
    font-family:"Lobster";
    src:url("Lobster-Regular.woff2")
  } 
  
  .customFont {
    color:maroon;
    font-family:"Lobster";
  } 
  
  .textSize {
    font-size: 2em;
  }

  .cont {
    background-color: firebrick;
  }

  .textShadow {
    text-shadow: 5px 15px 5px blue;
}